<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Master</title>
</head>
<body>
    <h1>New quiz</h1>
    <form method="POST">
    <div class="form-group">
        <label for="chapterid">chapter id</label>
        <input type="text" class="form-control" name="chapterid" placeholder="Enter chapter id">
      </div>
    <div class="form-group">
        <label for="quizname">quiz name</label>
        <input type="text" class="form-control" name="quizname" placeholder="Enter quiz name">
      </div>
    <div class="form-group">
        <label for="quizdate">quiz date</label>
        <input type="date" class="form-control" name="quizdate" placeholder="Enter date of quiz">
      </div>
    <div class="form-group">
        <label for="quizduration">quiz duration</label>
        <input type="time" class="form-control" name="quizduration" placeholder="Enter duration of quiz">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('quizmanagement') }}'">Return</button>
        {{message}}
    </form>
    
</body>
</html>