{% extends "base.html" %}
{% block title %}Welcome, Admin!{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('path',role='admin',id=1)}}">Quiz Master</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('quizmanagement')}}">Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
          
          
        </ul>
       
      </div>
    </div>
  </nav>
<div class="container my-5">
    <form method="POST">
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="whattosearch">Search for</label>
            <select class="custom-select mr-sm-2" name="whattosearch">
              <option selected>Choose...</option>
              <option value="user">Users</option>
              <option value="quiz">Quizzes</option>
              <option value="subject">Subjects</option>
              <option value="chapter">Chapters</option>
              <option value="question">Questions</option>
            </select>
          </div>
          <div class="col-auto my-1">
          <input type="text" name="query" placeholder="Search term">
          </div>
          <div class="col-auto my-1">
          <button type="submit">Search</button>
        </div>

      </form>
      
</div>


{% endblock %}