{% extends "base.html" %}
{% block title %}Welcome, Admin!{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Quiz Master</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link" href="{{url_for('path',role='admin',id=1)}}">Home</a>
            </li>
       
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('quizmanagement')}}">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('adminsummary')}}">Summary</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('adminsearch')}}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
        </li>
              
      </ul>
      
          <span class="navbar-text ms-auto">
           Welcome, Admin!
          </span>
        
  
      
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <img src="{{ url_for('static', filename=chartname1) }}" class="card-img-top" alt="Day-wise quiz attempt">
        <div class="card-body">
          <p class="card-text text-center">Day-wise Quiz Attempts (Chart 1)</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm">
        <img src="{{ url_for('static', filename=chartname2) }}" class="card-img-top" alt="Day-wise quiz attempt">
        <div class="card-body">
          <p class="card-text text-center">Day-wise Quiz Attempts (Chart 2)</p>
        </div>
      </div>
    </div>
  </div>
  




{% endblock %}