{% extends "base.html" %}
{% block title %}Welcome, {{name}} !{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('userscores',id=user.id)}}">Scores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('usersummary',id=user.id)}}">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
          
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<div class="container my-5">
    <!-- Upcming Quizzes Section -->
    <h3 class="mb-4 text-primary fw-bold">Upcoming Quizzes</h3>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Number of Questions</th>
                    <th scope="col">Quiz title</th>
                   
                    <th scope="col">Date</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Action</th>
                  
                </tr>
            </thead>
            <tbody>
                {% for quiz in quizzes %}
              
                <tr>
                    <td>{{ quiz.id }}</td>
                    <td>{{quiz.noofquestions}}</td>
                    <td>{{quiz.quizname}}</td>
                    <td>{{ quiz.quizdate}}</td>
                    <td>{{ quiz.quizduration }}</td>
                    <td>
                        <button type="button" onclick="location.href='{{ url_for('userviewquiz', id=user.id,quizid=quiz.id) }}'" class="btn btn-outline-primary btn-sm me-2">View</button>
                        <button type="button" onclick="location.href='{{ url_for('userstartquiz', id=user.id,quizid=quiz.id) }}'" class="btn btn-outline-danger btn-sm">Start</button>
                    </td>
                   
                </tr>
               
                {% endfor %}
            </tbody>
        </table>
    </div>


  

{% endblock %}