{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('userdashboard', id=user.id) }}">Quiz Master</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('userdashboard', id=user.id) }}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('userscores', id=user.id) }}">Scores</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('usersummary', id=user.id) }}">Summary</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('usersearch', id=user.id) }}">Search</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
        <span class="navbar-text ms-auto">Welcome, {{ user.fullname }}!</span>
      </div>
    </div>
  </nav>
  
<div class="container my-5">
    <!-- Upcming Quizzes Section -->
    <h3 class="mb-4 text-primary fw-bold">Past attempts</h3>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Quiz ID</th>
                    <th scope="col">Quiz Name</th>
                    <th scope="col">Chapter</th>
                   
                    <th scope="col">Attempt Date</th>
                    <th scope="col">Total Score</th>
                    
                  
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
              
                <tr>
                    <td>{{score[0]}}</td>
                    <td>{{score[1]}}</td>
                    <td>{{score[2]}}</td>
                    <td>{{score[3]}}</td>
                    <td>{{score[4]}}</td>
                   
                   
                   
                </tr>
               
                {% endfor %}
            </tbody>
        </table>
    </div>


  

{% endblock %}